#include "nucleo_n657x0_q.dtsi"

/ {
	gpios {		
		compatible = "gpio-leds";	
		my_led: my_led {			
			gpios = <&gpiog 10 GPIO_ACTIVE_LOW>;	
			label = "RED LED LED2";
		};
		button: button {
			gpios = <&gpioc 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
			label = "Button";
		};											
	};				
};
